:root {
	--vermelho: #E50914;
	--preta: #141414;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*elementos base*/
body {
	background: var(--preta);
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
}

.menu {
	width: 100%;
	position: fixed;
	background: linear-gradient(to top, transparent, rgba(14, 14, 14, .7));
	background-color: transparent;
	transition: .7s
}

.menu-auxiliar {
	background-color: var(--preta);
}

.homebtn {
	text-decoration: none;
}

.logohome {
	width: 100%;
	margin-left: 60px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.spotflixlog {
	margin-top: 10px;
	width: 100%;
	height: 40px;
}

.isfd {
	width: 100%;
	display: flex;
	align-items: center;

}

.navarea {
	list-style-type: none;
	margin-left: 18px;
}

.isfatext {
	font-size: 1em;
	font-family: sans-serif;
	font-weight: bold;

	text-decoration: none;
	color: #e5e5e5;
	transition: .4s;
}

.glitch {
	position: relative;

}

.glitch>span {
	position: absolute;
	top: 0;
	left: 0;
}

.glitch>span:hover:first-child {
	animation: glitch 100ms;
	clip-path: polygon(0 100%, 100% 100%, 100% 46%, 0 48%);
	transform: translate(-0.em, -0.5em);
	opacity: 0.8;
}

.glitch>span:hover:last-child {
	animation: glitch 100ms;
	clip-path: polygon(0 100%, 100% 100%, 100% 46%, 0 48%);
	transform: translate(0.025em, 0.015em);
	opacity: 0.8;
}



.glitch:hover {
	text-shadow: -0.10em 0 0 rgba(255, 0, 80, 0.75), 0.10em 0 0 rgba(30, 215, 96, 0.75);
	animation: glitch 150ms;
}

@keyframes glitch {
	0% {
		text-shadow: -0.10em 0 0 rgba(255, 0, 80, 0.75), 0.10em 0 0 rgba(30, 215, 96, 0.75);

	}

	14% {
		text-shadow: -0.20em 0 0 rgba(30, 215, 96, 0.75), 0.10em 0 0 rgba(255, 0, 80, 0.75);
	}

	15% {
		text-shadow: -0.20em 0 0 rgba(255, 0, 80, 0.75), 0.10em 0 0 rgba(30, 215, 96, 0.75);
	}

	49% {
		text-shadow: -0.20em 0 0 rgba(30, 215, 96, 0.75), 0.10em 0 0 rgba(255, 0, 80, 0.75);
	}

	50% {
		text-shadow: -0.20em 0 0 rgba(255, 0, 80, 0.75), 0.10em 0 0 rgba(30, 215, 96, 0.75);
	}

	99% {
		text-shadow: -0.30em 0 0 rgba(30, 215, 96, 0.75), 0.20em 0 0 rgba(255, 0, 80, 0.75);
	}

	100% {
		text-shadow: -0.40em 0 0 rgba(255, 0, 80, 0.75), 0.30em 0 0 rgba(30, 215, 96, 0.75);
	}
}


/*Capa principal*/
.capaprincipal {
	background: linear-gradient(to left, transparent, var(--preta)150%), url(/img/capa-sao.jpg);
	height: 100%;
	background-size: cover;
	display: block;
}

.content {
	background: linear-gradient(to bottom, transparent, var(--preta)100%);
	height: 100%;
	width: 100%;
	display: block;
}

.saotitulo {
	width: 72%;
}

.alinhamento {
	margin-left: 60px;
	padding-top: 56px;
	font-size: 16px;
	height: 850px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.escuteagora {
	width: 60%;
	color: #e5e5e5;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: normal;
}

.capaprincipal .escuteagora {
	margin-top: 15px;
	margin-bottom: 40px;
}


.butoes {
	align-items: center;

	margin-right: 1rem;
}

.butao {
	margin-right: 15px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: rgb(250, 250, 250);
	border: none;
	border-radius: 4px;
	color: #000;
	cursor: pointer;
	width: 133px;
	height: 40px;
	transition: 0.5s;

}

.butao:hover {
	background-color: #141414;
	color: #1ed760;

}

.butao2 {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(109, 109, 110, 0.815);
	border-radius: 4px;
	border: none;
	color: white;
	width: 208px;
	height: 40px;
	cursor: pointer;
	transition: 0.5s;

}

.butao2:hover {
	background-color: rgba(14, 14, 14, 0.7);
	color: #1ed760;
}

/*carrossel*/

.genero {
	align-items: center;
	margin-left: 60px;
}

.text {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 28px;
}


.owl-stage-outer {
	margin-top: 30px;
	margin-left: 60px;
}

.minicapa {
	height: 100%;
	margin-right: 10px;
	cursor: pointer;
	z-index: 999;
	display: block;
	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

}

.minicapa:hover {
	transform: scale(1.15);
}

/*footer*/

.rodape {
	display: block;
	margin: 20px 385.391px 0;
	padding: 0 4%;
	color: grey;
}

.sociallink {
	display: flex;
	margin-bottom: 1em;
}

.socialimg {
	fill: white;
	width: 24px;
	height: 24px;
	margin-right: 15px;
	transition: 0.3s;
	transition-timing-function: ease-in;
}

.socialimg:hover {
	fill: #1ed760;
}

.footer-link-wrapper {
	display: list-item;
	text-align: -webkit-match-parent;
	margin-bottom: 15px;
	list-style-type: none;
	flex-basis: 25%;
}

.textlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0 0 14px 0;
	padding: 0;

}

.footer-link-text {
	font-size: 13px;
	font-family: sans-serif;
}

.servicecode {
	background-color: transparent;
	border: solid 1px grey;
	color: grey;
	text-align: center;

	margin-bottom: 20px;
	font-size: 13px;
	padding: 0.5em;
}

.direitos {
	margin-bottom: 15px;
}

.spotflix {
	font-size: 13px;
}

@media screen and (max-width:700px) {


	.menu .logohome {
		height: 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.spotflixlog {
		height: 20px;
	}

	.isfd {
		justify-content: center;
		font-size: 13px;
	}

	.logo {
		font-size: 18px;
	}

	.text {
		font-size: 16px;
	}

	.content {
		background: linear-gradient(to bottom, transparent, var(--preta)100%);
	}

	.alinhamento {
		padding-top: 60px;
		margin-left: 0px;
		padding-left: 4%;
		height: 100%;
		width: 100%;
	}

	.saotitulo {
		width: 50%;
	}

	.butao {
		font-size: 14px;
		margin-bottom: 10px;
		width: 100px;
		height: 25px;
	}

	.butao2 {
		font-size: 14px;
		width: 150px;
		height: 25px;
		margin-bottom: 40px;
	}

	.escuteagora {
		font-size: 14px;
	}

	.owl-stage-outer {
		margin: 0;
		padding: 4%;
	}

	.genero {
		margin: 0;
		padding: 4%;
	}

	.item {
		width: 90%;
		height: 90%;
	}

	.rodape {
		margin: 20px auto 0;
	}

	.footer-link-wrapper {
		flex-basis: 50%;
	}

	.sociallink {
		margin: 0;
		margin-bottom: 1.5%;

	}
}

@media only screen and (max-width: 992px) and (min-width:701px) {


	div ul li a {
		font-size: 18px;
	}

	.capaprincipal {
		width: 100%;
		height: 100%;
	}

	.content {
		background: linear-gradient(to bottom, transparent, var(--preta)100%);
	}

	.alinhamento {
		padding-top: 60px;
		margin: 0px;
		padding: 4%;
		margin-bottom: 60px;
		height: 40vh;
	}

	.descricao {
		font-size: 16px;
	}

	.butoes {
		margin-bottom: 20px;
	}

	.owl-stage-outer {
		margin: 0;
		padding: 4%;
	}

	.genero {
		margin: 0;
		padding-left: 4%;
	}

	.saotitulo {
		width: 50%;
	}

	.carrosel {
		margin-top: 90px;

	}


	.footer-link-wrapper {
		flex-basis: 25%;
	}


	.rodape {
		margin: 20px auto 0;
	}
}



@media only screen and (max-width: 1200px) and (min-width: 993px) {
	.logohome {
		margin-left: 20px;
	}

	.logo {
		font-size: 35px;
	}

	.capaprincipal {
		width: 100%;
		height: 100%;
	}

	.alinhamento {
		padding-top: 60px;
		margin-left: 20px;
		margin-bottom: 20px;
		height: 500px;
	}

	.saotitulo {
		width: 60%;
		height: auto;
	}

	.escuteagora {
		font-size: 20px;
	}

	.butoes {
		padding-top: 30px;
	}

	.owl-stage-outer {
		margin-left: 20px;
	}

	.genero {
		margin-left: 20px;
	}

	.rodape {
		margin: 20px auto 0;
		padding: 2%;
	}
}

@media only screen and (max-width: 1490px) and (min-width:1201px) {
	.capaprincipal {
		width: 100%;
		height: 100%;
	}

	.alinhamento {
		height: 700px;
	}

	.rodape {
		margin: 20px auto 0;
	}
}